#twitchLogo {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
  float: right;
}

.viewer-container {
  background-color: lightgrey;
  border: 2px solid darkgrey;
  clear: both;
}

.logo {
  height: 50px;
  width: auto;
}
