#twitchLogo {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
  float: right;
}

.viewer-container {
  background-color: lightgrey;
  border: 2px solid darkgrey;
  clear: both;
  padding: 5px;
}

.user {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 50px;
  width: auto;
  border-radius: 50%;
  border: 3px solid white;
}

.userURL, .streamStatus {
  font-style: italic;
}

.userName {
  color: black;
}

.streamStatus {
  margin-left: auto;
}
